section.index__stages
    .container
        .index__stages__holder
            h2 Этапы развития организации
            p
                | На сегодняшний день АНО "Опека - она из первых некоммерческая организация в Тамбовской области, оказывающая услуги социальной помощи и сестринского ухода пожилым людям и инвалидам в отделениях сестринского ухода. С 2013 года организация начала деятельность в области палиативной медецинской помощи на стационарной основе, а с 2016 года начала осуществлять социальный уход на стационарной основе.
            .index__stages__holder__highlights
                p.index__stages__holder__highlights__highlight – Оказание  паллиативной медецинской помощи в стационарных условиях
                p.index__stages__holder__highlights__highlight – Оказание социального ухода на стационарной основе
            .index__stages__swiper.swiper
                .line
                .lineToActive
                .swiper-wrapper
                    .swiper-slide.active
                        span 2013
                    .swiper-slide
                        span 2014
                    .swiper-slide
                        span 2015
                    .swiper-slide
                        span 2016
                    .swiper-slide.other
                        span 2017
                    .swiper-slide.other
                        span 2018
                    .swiper-slide.other
                        span 2019
                    .swiper-slide.other
                        span 2020
                    .swiper-slide.other
                        span 2021
                    .swiper-slide.other
                        span 2022
            .index__stages__swiper-content-holder
                .index__stages__swiper-content.active
                    p
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи» <br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций <br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи»<br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций<br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                .index__stages__swiper-content
                    p
                        | 2
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи» <br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций <br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи»<br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций<br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                .index__stages__swiper-content
                    p
                        | 3
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи» <br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций <br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи»<br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций<br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                .index__stages__swiper-content
                    p
                        | 4
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи» <br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций <br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи»<br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций<br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                .index__stages__swiper-content
                    p
                        | 5
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи» <br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций <br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи»<br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций<br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                .index__stages__swiper-content
                    p
                        | 6
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи» <br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций <br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи»<br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций<br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                .index__stages__swiper-content
                    p
                        | 7
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи» <br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций <br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи»<br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций<br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                .index__stages__swiper-content
                    p
                        | 8
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи» <br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций <br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи»<br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций<br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                .index__stages__swiper-content
                    p
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи» <br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций <br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи»<br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций<br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                .index__stages__swiper-content
                    p
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи» <br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций <br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
                        | 25.02.2014 г.	Презентация проекта «Кнопка помощи»<br>
                        | 05.03.2014 г.	Проведение семинара-тренинга «Добрые идеи на добрые дела», в котором приняли участие около 80 активистов из 11 волонтерских организаций<br>
                        | 20.03.2014 г.	Регистрация в министерстве юстиции нашей символики<br>
                        | 01.05.2014 г.	Проведена благотворительная акция «НАЧНИ СВОЙ ДЕНЬ С ДОБРА!»<br>
