.MYBTN{
  background: rgba(52, 169, 187, 0.8);
  border-radius: 10px;
  padding: 8px 19px;
  border: 0;
  font-family: 'Jost', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */

  cursor: pointer;
  color: #FFFFFF;
}