.reservation
    .container.reservation__container
        .reservation--left
            .reservation__title
                | Nature, Warmth, and Beauty in One Space
            .reservation__subtitle
                | One place to release all the stress, bring back happines,
                | and get back to nature. We provide the best room and nature for you.
                | Come visit us anytime you want.
            +button('Reservation')
        .reservation--right
            img(src='images/sections/reservation/images/1.webp')
            img(src='images/sections/reservation/images/2.webp')
            img(src='images/sections/reservation/images/3.webp')