header.header
    .container.header__container
        .header__logo
            include ../includes/main/logo.svg
        .header__center
            .header__number +7 (888) 888 88 88
            a.header__link(href='#') Получить консультацию
        nav.header__nav
            li.header__nav__item 
                a.header__link(href="#") Услуги
            li.header__nav__item 
                a.header__link(href="#") Кейсы 
            li.header__nav__item 
                a.header__link(href="#") FAQ
