footer.footer
    .footer__img-bg
        img(src="images/template/footer/images/Rectangle 20.webp")
    .container
        .footer__logo
            .footer__logo__svg
                include images/logo(1).svg
            .footer__logo__title
                | Свежее дыхание в корпоративной жизни <br> и жизни корпоративной дыхание свежее
        ul.footer__menu
            .footer__menu__left
                li.footer__menu__li
                    a(href="#") Толстовки
                li.footer__menu__li
                    a(href="#") Свитшоты
                li.footer__menu__li
                    a(href="#") Футболки
                li.footer__menu__li
                    a(href="#") Поло
                li.footer__menu__li
                    a(href="#") Производство
            .footer__menu__right
                li.footer__menu__li
                    a(href="#") О нас
                li.footer__menu__li
                    a(href="#") ЧаВо
                li.footer__menu__li
                    a(href="#") Контакты
        .footer__contacts
            .footer__contacts__left
                .footer__contacts__number
                    | +380 630 130 103
                .footer__contacts__email
                    | example@gmail.com
            .footer__contacts__right
                +links-holder()
        .footer__backdoor
            .footer__backdoor__title
                | Связаться с менеджером
            .footer__backdoor__subtitle
                | Есть вопрос на который не нашли ответ? <br>Оставьте контакт и наш менеджер свяжеться с вами
            +number-form()
        .footer__description
            a(href="#") © 2022 . All rights reserved. <br> Политика конфиденциальности
