header.header

    .container.header__container
        .header__logo
            | Costels
        nav.header__nav
            ul
                li.header__li
                    a(href='#') Rooms
                li.header__li
                    a(href='#') Reservation
                li.header__li
                    a(href='#') Contacs
        +button('Get started').kek
