header.header
    script(defer src='scripts/header.bundle.js')
    +nav().header__nav
    a(href='index')
        +sourceImg('nav__logo')
    .header__burger-btn
        span
    +nav().header__popup__nav
+sourceImg('banner').top-banner
