//untils
@import "./untils/variables.scss";

// mixins
@import "./mixins/media.scss";
@import "./mixins/states.scss";
@import "./mixins/textStyles.scss";

// common
@import "./common/global.scss";
@import "./common/footer.scss";
@import "./common/header.scss";
@import "./common/fonts.scss";

//pages
