sections.index__supports
    .container
        .index__supports__swiper
            .swiper-wrapper
                .swiper-slide
                    +sourceImg('image38supports')
                .swiper-slide
                    +sourceImg('image39supports')
                .swiper-slide
                    +sourceImg('image40supports')
                .swiper-slide
                    +sourceImg('image41supports')
                .swiper-slide
                    +sourceImg('image42supports')
                .swiper-slide
                    +sourceImg('image43supports')

        .swiper-button-prev.swiper-button
            +sourceImg('Polygon9arrows')
        .swiper-button-next.swiper-button
            +sourceImg('Polygon9arrows-1')

