extends ../../template/layout.pug

block content
    script(defer src='scripts/index.bundle.js')
    include ../../sections/index__mission/index__mission
    include ../../sections/index__stages/index__stages
    include ../../sections/index__board-members/index__board-members
    include ../../sections/index__supports/index__supports