.mixed__button {
  background: $blue2;
  padding: 14px 16px;
  color:$white;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

}