section.main__prescreen
    .main__prescreen__bg
        img(src='images/sections/main__prescreen/images/bg.webp')
    .container
        .main__prescreen__title
            |Свежее дыхание в корпоративной жизни
        .main__prescreen__subtitle
            | Мы вдосконалили процессы заготовок продукции для того,
            | чтобы Вы и Ваша компания сконцентрировались на основных задачах и досягали поставленных целей.
        .main__prescreen__benefits
            .main__prescreen__benefit
                img(src='images/sections/main__prescreen/images/circle.webp')
                .main__prescreen__benefit__title
                    | Высокое <br> качество <b>ONLY</b>
            .main__prescreen__benefit
                img(src='images/sections/main__prescreen/images/circle.webp')
                .main__prescreen__benefit__title
                    | Поддержка <br> менеджера <b>24/7</b>
            .main__prescreen__benefit
                img(src='images/sections/main__prescreen/images/circle.webp')
                .main__prescreen__benefit__title
                    | Выполнение заказа <br>
                    | в <b>turbo-режиме</b>
        .main__prescreen__girls
            img(src='images/sections/main__prescreen/images/girls.webp')
    .main__prescreen__bg-bottom
        img(class='main__prescreen__bg-white' src='images/sections/main__prescreen/images/Vector 5.webp')