.header__popup-menu {
  min-width: 480px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 105.5%;
  z-index: 100;
  overflow-y: scroll;
  scrollbar-width: none;


  /* identical to box height, or 15px */
  width: 100%;
  height: 100vh;
  background: rgba(33, 33, 33, 0.36);
  position: fixed;
  z-index: 10000;

  .header__popup-menu__content {
    z-index: 10001;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    padding: 40px 10px 20px;
    background: #FAFAFA;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .header__popup-menu__close {
    display: flex;
    justify-content: end;
    padding-right: 20px;
  }

  .header__popup-menu__nav a {
    color: black;
  }

  .header__popup-menu__nav li {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }

  .header__popup-menu__ul > li > a {

    padding: 7px 13px;
    border-radius: 10px;
    transition: 0.5s;
  }

  .header__popup-menu__ul > li > a:hover {
    background: #272525;
    color: #FAFBFD;
  }

  .header__popup-menu__nav ul {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .header__popup-menu__subli {
    display: flex;
    flex-wrap: wrap;
  }

  .header__popup-menu__subli > li {
    min-width: 50%;
    width: auto;
    margin: 15px 0;
  }

  .header__popup-menu__subli > li > a {
    color: #8E8E8E;
  }

  .header__popup-menu__subli > li > a:hover {
    color: black;
  }

  .header__popup-menu__subli {
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 0;
  }

  .header__popup-menu__nav li:hover> .header__popup-menu__subli {
    padding-top: 20px;
    max-height: 120px;
  }
  .header__popup-menu__nav li:active> .header__popup-menu__subli {
    padding-top: 20px;
    max-height: 120px;
  }
  .header__popup-menu__subli[active] {
    padding-top: 20px;
    max-height: 120px;
  }

  .header__email {
    color: #454747;
    text-align: center;
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;
    transition: 0.5s;
    margin-bottom: 25px;
  }

  .header__email:hover {
    transform: scale(1.04);
  }

  .header__popup-menu__content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .header__popup-menu__top {
    width: 100%;
  }
  .links-holder{ margin-top: 10px}

}

// animate
.header__popup-menu {
  top:-100%;
  transition: 0.4s;
}
.header__popup-menu[active]{
  top:0;
}