*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
.container {
    padding: 0 15px;
    max-width: 1248px;
    margin: auto;
}

li {
    list-style: none;
}