$white: #ffffff;
$white1: #D9DBDE;
$white2: #FFECE2;
$gray: #848FAC;
$blue: #192252;
$blue1:#424F7B;
$blue2:#0E1734;
$blue3:#0B265A;
$black:#000000;
$orange:#FAB047;
$orange1:#FF620A;
$orange2:#FAB047;
$orange3:#FF620A;