section.index__mission
    .container
        p
            | Наша миссия – повысить качество жизни пожилых людей и инвалидов, волей судьбы оказавшихся в отделениях сестринского ухода.
            | Помочь сейчас
        a(href='calculator' title="к калькулятору").MYBTN Помочь сейчас