.index__mission{
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      max-width: 700px;
    }
    a{
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
}
@media (max-width: 768px){
  .index__mission{
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
  }
}