mixin links-holder()
    .links-holder()
        a(href='#')
            include images/Facebook - Original.svg
        a(href='#')
            include images/Facebook - Original.svg
        a(href='#')
            include images/Facebook - Original.svg