section.index__board-members
    .container
        h2
            | Члены правления
        .index__board-members__holder
            .index__board-members__member
                .index__board-members__member__img
                    +sourceImg('image3')
                .index__board-members__member__stats
                    .index__board-members__member__stats__name
                        | Юхачев Павел Сергеевич
                    .index__board-members__member__stats__status
                        | Председатель правления
            .index__board-members__member
                .index__board-members__member__img
                    +sourceImg('image1')
                .index__board-members__member__stats
                    .index__board-members__member__stats__name
                        | Лукашенко Сергей Владиславович
                    .index__board-members__member__stats__status
                        | Член правления
            .index__board-members__member
                .index__board-members__member__img
                    +sourceImg('')
                .index__board-members__member__stats
                    .index__board-members__member__stats__name
                        | Каширов Виктор Валерьевич
                    .index__board-members__member__stats__status
                        | Член правления